/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000, #222222);
    color: white;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 40px auto;
    background: #2e2626;
    padding: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* En-tête */
.header {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
}
.header h1 {
    font-size: 36px;
    margin: 10px 0;
}
.header h2 {
    font-size: 22px;
    color: #42f5e6;
}

/* Sections */
.section {
    margin: 20px 0;
    padding: 15px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.section h2 {
    color: #da2840;
    border-bottom: 2px solid #42f5e6;
    padding-bottom: 5px;
}

/* Contact */
.contact {

    text-align: center;
    margin-top: 10px;
}

/* Expérience et formation */
.job, .education p {
    background: #333333;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.job h3 {
    margin: 0;
    color: #42f5e6;
}

/* Liste des compétences */
.section ul {
    list-style-type: none;
    padding: 0;
}
.section ul li {
    background: #444444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


/*  PROFILE-HEADER/MOI  */

.profile-picture
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header-stage h2
{
    text-align: center;
}

.photo img
{
    width: 150px;
    border-radius: 100px;
    border: 3px solid rgb(39, 33, 33);
    transition: 1.5s;
}

img:hover
{
    border-radius: 20px;
}

.about
{
    padding-left: 10px;
    background-color: rgb(45, 48, 51);
    border: 2px solid black;
    border-radius: 20px;
}

.bottom-page
{
    display: flex;
}

.experience
{
    margin: 10px;
}

.skills
{
    margin: 10px
}

.education
{
    margin: 10px;
}

